<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>

    <bean id="dateSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
<!--        配置c3p0连接池-->
        <property name="maxPoolSize" value="30"></property>
        <property name="minPoolSize" value="10"></property>
<!--        关闭连接后不自动commit-->
        <property name="autoCommitOnClose" value="false"></property>
        <property name="checkoutTimeout" value="1000"></property>
        <property name="acquireRetryAttempts" value="2"></property>
    </bean>
<!--    约定配置sqlsessionFactury对象-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
<!--        mybatis和spring的整合-->
        <property name="dataSource" ref="dateSource"></property>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="typeAliasesPackage" value="org.seckill.entity"/>
<!--        扫描sql的配置文件的包-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="org.seckill.dao"></property>
    </bean>

<!--    redis-->

</beans>